<div class="main">
  <div class="shop_top">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="map">
            <!--<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265&amp;output=embed"></iframe><br><small><a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265" style="color:#666;text-align:left;font-size:12px"></a></small>-->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.8053459917446!2d-78.50277878475214!3d-0.1461180998933826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d585352986195b%3A0x7ab84ef49e4c9458!2sIgnacio+As%C3%ADn+%26+Vicente+Heredia%2C+Quito+EC170132!5e0!3m2!1sen!2sec!4v1459991370036" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-5">
          <p class="m_8"> Regala hoy The Male Box y sorprende a quien amas con regalos increíbles, en un empaque inusual. 
            Quien recibe una Male Box será sin duda el centro de atención y no pasará inadvertido. Elige nuestras opciones de entrega a domicilio o en nuestro centro de despacho:
</p>
          <div class="address">
            <p>Ignacio Asín y Vicente Heredia,</p>
            <p>Edificio Dickens</p>
            <p>ECUADOR</p>
            <p>Telefono:(593) 2 2432 935 / (593) 2 2256 786 </p>
            <p>Email: <span>support[at]snow.com</span></p>
            <p>Síguenos en: <span>Facebook</span>, <span>Twitter</span></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 contact">
            <%= form_tag("/page/contactos", method: "post") do %>
            <div class="to">
              <input type="text" name="nombre" class="text" value="Nombre" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
              <input type="text" name="email" class="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
              <input type="text" name="titulo" class="text" value="Título" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}">
            </div>
            <div class="text">
              <textarea name="mensaje" value="Mensaje:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message:</textarea>
              <%= recaptcha_tags %>
              <div class="form-submit">
                <input name="submit" type="submit" id="submit" value="Submit"><br>
              </div>
            </div>
            <div class="clear"></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>