<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Tenemos un nuevo mensaje de <%= @nombre %>  <%= @email %> </h2>
    <h3>Esto es lo que escribió:</h3>
    <p style="background-color: lavender; font-size: large">
      <%= @mensaje %>
    </p>
  </body>
</html>