<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Tienes un mensaje de <%= @nombre %>  <%= @email %> </h1>
    <h2>Esto es lo que escribió:</h2>
    <p style="background-color: #AAAAAA">
      <%= @mensaje %>
    </p>
  </body>
</html>